

#contentLoginlink{

}

.bodyMaincontent{
	background-color:#243647;
}

#contentLoginlink span{
	color:#FFFFFF;
}

#navstyle{
	background-color:#243647;
}

ul{
	list-style:none;
	
}

table
{
	text-align: center;
	font-size: 14px;
}

th
{
	text-align: center;
	font-family:"Î¢ÈíÑÅºÚ";
	background-color: #5983ab;
	font-style: white;
	color: #ffffff;
}

